<p id="notice"><%= notice %></p>

<h1>My Cocktail</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th>Ingredients</th>
      <th></th>
      <th>Doses</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= cocktail.name %></td>
        <td><%= cocktail.ingredients %></td>
        <td><%= cocktail.doses %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'Add a new Cocktail', new_cocktail_path %>
